<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.sage.sage" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/sageicon"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.NoActionBar" >
        <activity
            android:name=".MainActivity"
            android:label="Sage"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Splash"
            android:label="Sage"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:label="Sage"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Splash2"
            android:label="Sage"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>
